.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}


.rounded-img {
  border-radius: 50%; 
  border: 2px solid #ddd; 
  width: 50px;
  height: 50px;
  object-fit: cover; 
  display: block; 
  margin: 0 auto; 
}

table.dataTable tbody tr td {
  vertical-align: middle; 
}
